<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nidec.swupdater.v2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:theme="@style/Theme.SWUpdater"
        tools:targetApi="31" >


<!--    Activity 1 : Display Splash Activity -->
    <activity android:name="com.nidec.swupdater.v2.ui.EntrySplashActivity"
        android:theme="@style/Theme.SWUpdater"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


<!--        Activity 2 : Launch MainActivity after SplashActivity -->
        <activity android:name="com.nidec.swupdater.v2.ui.MainActivity"/>

    </application>

</manifest>